## USER IP BANNING
## http://tools.dynamicdrive.com/userban/
#<Limit GET POST>
# order allow,deny
# deny from 8.8.8.
# allow from all
#</Limit>

## Speed limit module
## http://www.lissyara.su/articles/freebsd/www/mod_bandwidth/
<ifModule mod_bandwidth.c>
  BandwidthModule On
  BandWidthPulse 50000
## limit to 512 kB/s
  BandWidth all 524288
## Large Files (more then size in 1st param [Kb]) limit to 2nd param [Kb\sec]
## 1.5Mb / 384Kb
  LargeFileLimit 1536 393216
  MaxConnection 100
</ifModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  <IfModule mod_setenvif.c>
    ## Disable by refferal
    # If empty refferal
    #SetEnvIfNoCase Referer "^$" bad_user
    SetEnvIfNoCase Referer "^(http?://)?(www\.)?(vk.com|fb.com|facebook.com|twitter.com)" bad_user
    SetEnvIfNoCase Referer "^(http?://)?(www\.)?(ok.ru|odnoklassniki.ru)" bad_user
    SetEnvIfNoCase Referer "^(http?://)?(www\.)?(google.|yandex.ru|yahoo.com|mail.ru|rambler.ru)" bad_user

    ## Disable this user-agents
    SetEnvIfNoCase User-Agent "^(Wget|aria2|NOD32view|perl|php)" bad_user

    ## Disable access for robots
    SetEnvIfNoCase User-Agent "^(Googlebot|Yandex|Yahoo|spider|Robot|bot|Parser|RSS|download|grab)" bad_user
  </IfModule>

  <Limit GET POST>
    Order Allow,Deny
    Allow from all
    Deny from env=bad_user
  </Limit>
</IfModule>

## NOD Mirror settings
## Tarampampam :)
Options +Indexes
AddDefaultCharset UTF-8

<IfModule mod_dir.c>
  DirectoryIndex index.html
</IfModule>

<IfModule mod_autoindex.c>
  IndexOptions +SuppressDescription +IgnoreCase +FoldersFirst +SuppressHTMLPreamble +NameWidth=* +FancyIndexing
  IndexIgnore .htaccess *.php *.htm* *.txt *.log *.tmp*
  HeaderName /.header.html
  ReadmeName /.footer.html
</IfModule>

<IfModule mod_mime.c>
  AddType application/octet-stream .nup .tmp .ver
  AddType application/x-msdownloa .msi .exe .rar
  AddType application/zip .zip
  AddType application/x-gzip .gz .tar

  ## Disable scripts
  AddType text/html .php .cgi .pl .fcgi .fpl .phtml .shtml .php2 .php3 .php4 .php5 .asp .jsp .sh
</IfModule>

## And one more else security rule
<FilesMatch "(\.(htaccess|htpasswd|php?|log|pl|cqi|sh|sql)$|tmp$)">
  Order allow,deny
  # Show 403 error as 404 :)
  ErrorDocument 403 /errordocs/404.html
  Deny from all
</FilesMatch>