##  _  _         _ _______   __  __ _
## | \| |___  __| |__ /_  ) |  \/  (_)_ _ _ _ ___ _ _
## | .' / _ \/ _' ||_ \/ /  | |\/| | | '_| '_/ _ \ '_|
## |_|\_\___/\__,_|___/___| |_|  |_|_|_| |_| \___/_|
## <j.mp/GitNod32Mirror>
##
<IfModule mod_setenvif.c>
  ## Disable this user-agents
  SetEnvIfNoCase User-Agent "^(Wget|aria2|NOD32view|perl|php|curl)|(Mirror)" bad_user
  ## Disable access for robots
  SetEnvIfNoCase User-Agent "^(Google|Yandex|Yahoo)|(spider|Robot|bot|Parser|RSS|download|grab|Indy)" bad_user
  
  Deny from env=bad_user
</IfModule>

## And one more else security rule
<FilesMatch "(\.(htaccess|htpasswd|pl|cqi|sh|sql|conf)$|tmp$)">
  Order allow,deny
  Deny from all
</FilesMatch>

<IfModule mod_autoindex.c>
  Options +Indexes
  AddDefaultCharset UTF-8
  
  <IfModule mod_dir.c>
    DirectoryIndex index.html
  </IfModule>

  ## http://httpd.apache.org/docs/current/mod/mod_autoindex.html#indexoptions
  IndexOptions +SuppressDescription +IgnoreCase +FoldersFirst +SuppressHTMLPreamble
  IndexOptions +NameWidth=* +FancyIndexing
  ## Next line for ----> Apache2.x <----
  IndexOptions -HTMLTable -IconsAreLinks +IgnoreClient +IconHeight=1 +IconWidth=1
  ## Hide some files types from listing
  IndexIgnore .htaccess .htpasswd .webface *.php* *.htm* *.txt *.conf *.log *.tmp*
  
  ##### Path to webface files ####
  HeaderName /.webface/header.html
  ReadmeName /.webface/footer.html
  
  ############# Path to error docs ##############
  ErrorDocument 401 /.webface/errorpages/401.html
  ErrorDocument 403 /.webface/errorpages/403.html
  ErrorDocument 404 /.webface/errorpages/404.html
  ErrorDocument 500 /.webface/errorpages/500.html
  ErrorDocument 502 /.webface/errorpages/502.html
  ErrorDocument 503 /.webface/errorpages/503.html
</IfModule>

<IfModule mod_mime.c>
  AddType application/octet-stream .nup .tmp .ver .msi .exe .rar
  AddType application/zip .zip
  AddType application/x-gzip .gz .tar
  ## Disable scripts
  AddType text/html .cgi .pl .fcgi .fpl .shtml .asp .jsp .sh
</IfModule>
