## Disable access for some IP and Hosts
## (Apache module 'realip_module' must be enabled!)
<IfModule mod_realip.c>
  <Limit GET POST HEAD>
    order allow,deny
    ## Disable for (countries) domains
    deny from uz us ae ua md lv kg kp kz ge cz ca bg by az am

    ## Disable some providers
    ## By domain name
    deny from velton.ua dsl.utg.ge infonet.by
    # ...
    
    ## By IP pool
    ## http://ip2cidr.com/bulk-ip-to-cidr-converter.php
    # Republican Unitary Enterprise BELTELECOM MOGILEV branch
    deny from 178.124.232.0/21
    # ...

    ## Disable some sites (dimains)
    deny from ostfresh.ru siberenergy.ru h-service.ru 10.12.11.254
    # ...
    
    allow from all
  </Limit>
</IfModule>

## Disable access for countries
## https://www.maxmind.com/ru/home
<IfModule mod_geoip.c>
  <IfModule mod_realip.c>
    GeoIPEnable On
    SetEnvIf GEOIP_COUNTRY_CODE (UZ|US|AE|UA|MD|LV|KG|KP|KZ|GE|CZ|CA|BG|BY|AZ|AM) DenyCountry
    Order allow,deny
    Deny from env=DenyCountry
    Allow from all
  </IfModule>
</IfModule>

## Speed limit module
## http://www.lissyara.su/articles/freebsd/www/mod_bandwidth/
<ifModule mod_bandwidth.c>
  BandwidthModule On
  BandWidthPulse 50000
  ## limit to 512 kB/s
  BandWidth all 524288
  ## Large Files (more then size in 1st param [Kb]) limit to 2nd param [Kb\sec]
  ## 1.5Mb / 384Kb
  LargeFileLimit 1536 393216
  MaxConnection 100
</ifModule>


<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  <IfModule mod_setenvif.c>
    ## Disable by refferal
    # If empty refferal
    #SetEnvIfNoCase Referer "^$" bad_user
    SetEnvIfNoCase Referer "^(http?://)?(www\.)?(vk.com|fb.com|facebook.com|twitter.com)" bad_user
    SetEnvIfNoCase Referer "^(http?://)?(www\.)?(ok.ru|odnoklassniki.ru)" bad_user
    SetEnvIfNoCase Referer "^(http?://)?(www\.)?(google.|yandex.ru|yahoo.com|mail.ru|rambler.ru)" bad_user

    ## Disable this user-agents
    SetEnvIfNoCase User-Agent "^(Wget|aria2|NOD32view|perl|php|curl|Mirror)" bad_user

    ## Disable access for robots
    SetEnvIfNoCase User-Agent "^(Google|Yandex|Yahoo|spider|Robot|bot|Parser|RSS|download|grab)" bad_user

    ## Also we can disable access for some IP adresses ('realip_module' needed)
    #SetEnvIf Remote_Addr 8.8.8.8
  </IfModule>

  <Limit GET POST HEAD>
    Order Allow,Deny
    Allow from all
    Deny from env=bad_user
  </Limit>
</IfModule>

## NOD Mirror settings
## Tarampampam :)
Options +Indexes
AddDefaultCharset UTF-8

<IfModule mod_dir.c>
  DirectoryIndex index.html
</IfModule>

<IfModule mod_autoindex.c>
  ## http://httpd.apache.org/docs/current/mod/mod_autoindex.html#indexoptions
  IndexOptions +SuppressDescription +IgnoreCase +FoldersFirst +SuppressHTMLPreamble +NameWidth=* +FancyIndexing
  ## Next line for Apache2.x
  #  IndexOptions -HTMLTable -IconsAreLinks +IgnoreClient +IconHeight=1 +IconWidth=1
  ## Hide some files types from listing
  IndexIgnore .htaccess .htpasswd .webface *.php* *.htm* *.txt *.log *.tmp*
  HeaderName /.webface/header.html
  ReadmeName /.webface/footer.html
</IfModule>

<IfModule mod_mime.c>
  AddType application/octet-stream .nup .tmp .ver
  AddType application/x-msdownload .msi .exe .rar
  AddType application/zip .zip
  AddType application/x-gzip .gz .tar

  ## Disable scripts
  AddType text/html .cgi .pl .fcgi .fpl .shtml .asp .jsp .sh
</IfModule>

## And one more else security rule
<FilesMatch "(\.(htaccess|htpasswd|pl|cqi|sh|sql)$|tmp$)">
  Order allow,deny
  # Show 403 error as 404 :)
  ErrorDocument 403 /errordocs/404.html
  Deny from all
</FilesMatch>
