mirror:
  # Path to the local directory with updating files (directory must exists)
  path: /tmp/mirror

  # Servers for mirroring (license settings will be ignored, if `free-key` is enabled; <https://support.eset.com/en/kb332>)
  servers:
    - url: 'https://eu-update.eset.com/eset_upd/'
      username: EAV-1122334455
      password: aabbccddee
    - url: 'https://um01.eset.com/eset_upd/'
    - url: 'https://um01.eset.com/eset_upd/'
    - url: 'https://um02.eset.com/eset_upd/'
    - url: 'https://um01.ru.eset.com/eset_upd/'
    - url: 'https://update.eset.com/eset_upd/'

  free-keys:
    # Try to get and use free licence key (USE FOR DEBUG PURPOSES ONLY!)
    enabled: false

    # Path to the file for keys storing
    file-path: /tmp/nod32-free.keys

  filtering:
    # Platforms list (set `any` for all)
    platforms: [any]

    # Types of updates (set `any` for all; examples: `loader loader64 perseus engine archives ...`)
    types: [any]

    # Language codes of updates (TODO: where list with all languages located?)
    languages:
      - 1033 # English
      - 1049 # Russian

    # Nod32 versions
    versions:
      - pcu # Program Component Update
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11

downloading:
  # How many concurrently (parallel) downloads are allowed
  threads: 5

  # Downloading speed limit (KiB/Sec)
  max-speed-kb: 128

http:
  # IP and port to listen on
  listen: '0.0.0.0:8080'

  basic-auth:
    # Protect updating files access with basic auth (is used by Nod32 too)
    enabled: false

    # Users list with allowed access
    users:
      - username: evil
        password: live
